@import "tailwindcss";


#text{
    font-family: sans-serif;
}

@font-face {
    font-family: "bebas";
    src: url("Fonts/bebas-neue/BebasNeue-Regular.ttf");
}


@media (min-width: 300px) and (max-width: 500px) {

    #forMobile{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       margin-bottom: 20px;
    }

    #resForMobile{
        /* padding-bottom: 0px; */
        margin-bottom: -290px;
    }

    #loader{
        position: absolute;
        left: 120px;
        bottom: 2px;
    }


    #text{
        font-size: 50px;
    }

    #cards{
        visibility: hidden;
    }
    #hide{
        visibility: hidden;
    }

}