@import "tailwindcss";


body {
  font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

@font-face {
    font-family: "bebas";
    src: url("Fonts/bebas-neue/BebasNeue-Regular.ttf");
}


@media (min-width: 300px) and (max-width: 500px) {

    #forMobile{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       margin-bottom: 20px;
    }

    #resForMobile{
        /* padding-bottom: 0px; */
        margin-bottom: -250px;
    }

    #loader{
        position: absolute;
        left: 120px;
        bottom: 25px;
    }


    #text{
        font-size: 50px;
    }

    #cards{
        visibility: hidden;
    }
    #hide{
        filter: blur(5px);
    }

}





@media (min-width: 500px) and (max-width: 840px) {
    #progress{
        visibility: hide;
    }
}


@media (min-width: 501px) and (max-width: 1513px) {

    #tabMar{
        margin-top: 240px;
    }

    #tabRes{
        display: grid;
        grid-template-columns: auto;

    }

    #controls{
        display: flex;
        justify-content: center;
        align-items: center;
    }

 
    #text{
        font-size: 50px;
    }

    #index{
        position: absolute;
        right: 20px;
        
    }

    #cards{
        position: relative;
        top: -280px;
    }

    #buttons{
        position: absolute;
        left: 30px;
    }

}