@import "tailwindcss";


#cards{
    margin-left: 10px;
}

body {
  font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

@font-face {
    font-family: "bebas";
    src: url("Fonts/bebas-neue/BebasNeue-Regular.ttf");
}


@media (min-width: 300px) and (max-width: 500px) {

    #forMobile{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       margin-bottom: 20px;
    }

    #resForMobile{
        /* padding-bottom: 0px; */
        margin-bottom: -250px;
    }

    #loader{
        position: absolute;
        left: 115px;
        bottom: 20px;
    }


    #text{
        font-size: 50px;
    }

    #cards{
        visibility: hidden;
    }
    #hide{
        filter: blur(5px);
    }

    #loader{
        width: 50%;
    }

}





@media (min-width: 501px) and (max-width: 639px) {
 
    #cards{
        /* visibility: hidden; */
        margin-top: 80px;
    }
    #hide{
        visibility: hidden;
    }
    #loader{
        margin-left: 300px;
    }
}


@media (min-width: 501px) and (max-width: 1513px) {

    #tabMar{
        margin-top: 270px;
    }

    #resForMobile{
        margin-bottom: -20px;
    }

    #tabRes{
        display: grid;
        grid-template-columns: auto;

    }

    #controls{
        display: flex;
        justify-content: center;
        align-items: center;
    }

 
    #text{
        font-size: 50px;
    }

    #index{
        position: absolute;
        right: 20px;
        
    }

    #cards{
        position: relative;
        top: -330px;
    }

    #buttons{
        position: absolute;
        left: 30px;
    }


}